{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block body %}
<div class="row">
<!--Powitanie-->
	<div class=" col-12 d-flex justify-content-center welcomeBar">						
		<div class= "col-12 d-flex justify-content-center">
			<span class="col-12 text-center title py-5">
			Witaj {{username}} 
			<i class="far fa-smile pl-2"></i></span>									
		</div>
	</div>
	<!--Kafelki-->
	<div class="row col-12 d-flex basicContainer">		
	</div>							
</div>				
{% endblock %}

{% block scripts %}

{% endblock %}